Source: wb-mqtt-astra
Maintainer: Andrey Yantsen <andrey@janzen.su>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-mqtt-astra
Architecture: armel armhf i386 amd64
Depends: libc6 (>= 2.13), ${misc:Depends}
Description: Astra-L support
